<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Code Login Java</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style>

    .ulnavbarclass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    .navbarclass {
    float: left;
    }

    .navbarclass a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    .navbarclass a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    }

    navbarclass .active {
    background-color: #04AA6D;
    text-decoration: none;
    }
    </style>
</head>
<body>
    <div class="container text-center">
<!--        <div>-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <p>-->
<!--                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>-->
<!--                </p>-->
<!--                <input type="submit" value="Sign Out">-->
<!--            </form>-->
<!--            <h3><a th:href="@{'/edit/' + ${user.id}}">Edit User Details</a></h3>-->
<!--        </div>-->
        <div>
            <ul class="ulnavbarclass">
                <li class="navbarclass">
                    <a>DomatoLogo</a>
                </li>
                <li class="navbarclass">
                    <a>
                        Welcome to Domato <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                    </a>
                </li>
                <li class="navbarclass">
                    <a>
                        This is the place where we meet the expectations of all your cravings.
                    </a>
                </li>
                <li class="navbarclass">
                    <a th:href="@{'/edit/' + ${user.id}}">Edit User Details</a>
                </li>
                <li class="navbarclass" style="float:right">
                    <a>
                        <form th:action="@{/logout}" method="post" class="active">
                            <input class="btn btn-danger" type="submit" value="Sign Out">
                        </form>
                    </a>
                </li>
            </ul>
        </div>

        <div style="display: none;">
            <h3>List of All Users</h3>
        </div>
        <div style="display: none;">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>UserId</th>
                        <th>UserEmail</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listUsers}">
                        <td th:text="${user.id}">User Id</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:text="${user.firstName}">First Name</td>
                        <td th:text="${user.lastName}">Last Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3><a th:href="@{'/edit/' + ${user.id}}">Edit User Details</a></h3>
        </div>
        <div>
            <h3><a th:href="@{/list_restaurants}">List of Restaurants</a></h3>
        </div>
    </div>
</body>
</html>